@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.slide{
  animation: slide 400ms forwards ;
  animation-timing-function: cubic-bezier(0,.69,.3,1.07)
}
@keyframes slide {
  from {top: 30rem;}
  to {top: 2rem;} 
}

.success{
  background-color: var(--success)
}



@layer base {
  body{
    @apply bg-main
  }
  #app{
    @apply font-roboto text-main-active h-screen w-screen 
  }
  h1 {
    @apply text-4xl font-kalam font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3{
    @apply text-xl font-bold text-blackish
  }
  h4{
    @apply text-xl font-normal text-blackish
  }
}
@layer components {
  
  .screen-col-standard{
    @apply flex flex-col items-center justify-between h-screen w-screen
  }
  .menu-container{
    @apply bg-booking absolute h-screen w-screen flex flex-col justify-between items-center z-50 overflow-hidden
  }
  .menu-fill{
    @apply flex 
  }
  .menu-items-list{
    @apply flex  flex-col   mr-36 items-start gap-6
  }
  .menu-item-lg{
    @apply font-semibold text-3xl text-white
  }
  .menu-item-s{
    @apply font-normal text-2xl text-white
  }
  .hero{
    @apply  flex-1 flex flex-col w-screen justify-center pl-12 
  }
  .booking-container{
    @apply bg-booking relative rounded-t-xl
  }
  .booking-day{
    @apply flex flex-row overflow-x-scroll w-screen items-center gap-4 pb-6 
  }
  .booking-day-chevron-l{
    @apply h-20 w-12 absolute left-0 z-10 flex justify-center items-center text-white bg-gradient-to-r from-booking via-booking from-booking
  }
  .booking-day-chevron-r{
    @apply h-20 w-12 absolute right-0 z-10 flex justify-center items-center text-white bg-gradient-to-l from-booking via-booking from-booking
  }
  .booking-day-item{
    @apply w-28 px-2 h-16 flex shadow-lg items-center text-center text-white font-medium peer-checked:bg-main-active peer-checked:border-0 select-none cursor-pointer rounded-lg border-solid border border-white border-opacity-10
  }
  .booking-time-grid{
    @apply px-6 pb-4 gap-4 w-screen grid grid-cols-2 grid-rows-2 
  }
  .booking-time-item{
    @apply h-16 flex justify-center shadow-md items-center border border-white border-opacity-10 rounded-lg  text-white transition ease-in-out
  }
  .guide-container{
    @apply px-6  flex w-screen justify-between items-center text-white
  }
  .guide-bullet{
    @apply  h-3 w-3 rounded-full
  }
  .time-free{
    @apply peer-checked:bg-main-active peer-checked:border-0
  }
  /* VISA ZARA NÄR DU HAR "time-you" i BookingTime.vue som klass  */
  .time-you{
    @apply border-0  bg-success
  }
  .time-booked{
    @apply border-0 bg-error
  }
  .booking-confirm-container{
    @apply w-screen  absolute top-6 bg-confirm-block z-20 slide rounded-t-xl bottom-0 flex-col flex justify-between items-center pt-8 px-8 
  }
  .btn-container{
    @apply pt-6 pb-6  gap-4 min-h-0  flex flex-col font-roboto
  }
  .btn-primary-lg {
    @apply w-72 h-16 px-4 rounded-lg flex justify-center items-center  bg-success text-white font-semibold shadow-md ; 
  }
  .btn-remove-lg{
    @apply w-72 h-16 px-4 rounded-lg flex justify-center bg-error items-center font-semibold text-white;
  }
  .btn-clean-lg {
    @apply w-72 h-16 px-4 rounded-lg flex justify-center items-center font-semibold text-black;
  }
  .btn-empty-lg {
    @apply w-72 h-16 px-4 rounded-lg flex;
  }
  .login-form-container{
    @apply flex flex-col mt-8 gap-4 
  }
  .input-form {
    @apply w-72 h-14 pl-4 rounded-lg bg-white
  } 
  .error-input{
    @apply flex h-3 text-xs justify-end font-medium text-red-600
  }
  /* from-booking via-booking from-booking */
  .divider{
    @apply mb-6 h-px w-4/5 bg-gradient-to-l via-white opacity-30 from-transparent
  }
  .userPage-item-container{
    @apply  gap-4 px-6 overflow-y-scroll flex flex-col h-64 
    
  }
  .userPage-item{
    @apply text-white h-16 flex items-center justify-center border border-solid rounded-lg border-opacity-10 border-white peer-checked:bg-main-active peer-checked:border-0 
  }
}
