@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700&family=Ubuntu:wght@400;500&display=swap'); */

:root{
  --bg-main: #E3F2FF;
  --bg-hsb-blue: #020A26;
  --green-dark-bg: #406862;
  --body-bg: #efefef;
  --container-bg: #ffffff;
  --footer-bg: #03292c;
  --price-bg: #ff0000;
  --light-grey: #E9E9E9;
  --medium-grey: #F6F6F6;
  --dark-grey: #B5B5B5;
  
  
  --ff-gothic: 'Gothic A1', sans-serif;
  --ff-ubuntu : 'Ubuntu', sans-serif;
  
  --fs-main-h1: 2.5rem;
  --fs-main-h2: 1.2rem;


}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #app{

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: --bg-main;
  font-family: --ff-ubuntu;

} */
@layer base {
  #app{
    @apply bg-cyan-300 font-medium h-screen w-screen
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
@layer components {
  .screen-col-standard{
    @apply flex flex-col items-center justify-between h-screen w-screen
  }
  .btn-container{
    @apply  mt-44 pb-20 flex flex-col gap-3
  }
  .btn-primary-lg {
    @apply flex justify-center items-center w-72 h-14 px-4 bg-green-700 text-white font-semibold rounded-lg shadow-md hover:bg-green-800;
  }
  .btn-empty-lg {
    @apply flex justify-center items-center w-72 h-14 px-4;
  }
  .input-form {
    @apply w-72 h-14 pl-4 rounded-md bg-white
  } 
  .error-input{
    @apply flex h-3 text-xs justify-end font-medium text-red-600
  }

}
/*
.time-style{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: solid 1px rgba(255, 255, 255, 0.295);
  height: 4rem;
  color: white;
 
}
.main-h1{
  font-family: --ff-gothic;
  font-size: --fs-main-h1;
  font-weight: 700;
  color: --bg-hsb-blue; 
}
.main-menu-font{
  font-family: --ff-gothic;
  font-size: 1.6rem;
  font-weight: 600;
  color: white; 
}
.main-h2-bold{
  font-family: --ff-gothic;
  font-size: 1.6rem;
  font-weight: 600;
  color: --bg-hsb-blue; 
}

.main-h2{
  font-family: --ff-ubuntu;
  font-size: --fs-main-h2;
  font-weight: 400;
  color: --bg-hsb-blue; 
}
.main-blue{
  background-color: --bg-hsb-blue;
}
.btn-big{
  
  background-color: #ff0000;
  
}



 */
